<h1>Hello {{blogposts.[0].user.name}}, here are your posts:</h1>

<!--Loop over each object in the blogpost array and find by user id-->
{{#each blogposts}}
  <div class="row mb-4 project" "blog-post">

    <div class="col-md-5 card">

    <a href='/postpreview/{{id}}'><h2>{{title}}</h2></a>

     <p>{{content}}</p> 

      <p class="attribute">Created by: {{user.name}}</p>
    </div>
</div>
{{/each}}



<div class="form-group" style="margin-bottom: 20px;">
<form>
     <button class="btn btn-sm" type="submit" formaction="/blogpost">+ New Post</button>
  </form>
</div>