
{{#each blogposts as |blogpost|}}
  <div class="row mb-4 project blog-post">


    <div class="col-md-5 card">

    <a href='/postpreview/{{id}}'><h2>{{title}}</h2></a>

     <p>{{content}}</p> 
     
      <p class="attribute">Created by: {{user.name}} on {{format_date blogpost.date_created}}</p>
      {{#if ../isOwner}}
      
      
      
      <p>
      <a href="/editpost/{{id}}"><button class="btn btn-sm">Edit</button></a></p>

      {{/if}}
    </div>

 
<div class="col-md-5">
  <h5>Comments:</h5>
  
{{#each comments as | comment|}}
<div class="col-md-5 card" id="comm-box">
<p>{{comment.content}}</p>

<span id="comm-attr" style="font-size: 12px; margin-top: -20px;" class="attribute">Created by: {{comment.user.name}} on {{format_date comment.date_created}}</span>
</div>
{{/each}}
</div>




    <div>
    <h4>Add a Comment:</h4>
    <textarea id="comment"></textarea><br>
    <a href="/postpreview/{{id}}"><button id="submit-comment" value={{id}} class="btn btn-sm">Submit</button></a>
    
</div>
</div>


{{/each}}

<script src="/js/comment.js"></script>
